<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1459876947801-8879713c9b47?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80);">
  <div class="container text-center">
    <h1> <strong>FIGURIN'APP</strong></h1>
    <div class="figurines">
      <%= link_to "FIGURINES", figurines_path %>
    </div>
  </div>
</div>
