
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">


  <div class="carousel-inner">
<h1><strong>FIGURIN'APP</strong></h1>


    <div class="carousel-item active">

      <img class="d-block w-100" src="assets/who-is-the-biggest-superhero.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/marvel-vs-star-wars-nouvelle-trilogie.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/star-wars-vs-aliens-1.jpg" alt="Third slide">

   </div>

  </div>
  <div class="figurines"> <%= link_to "FIGURINES", figurines_path %></div>
</div>

