<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="align-left">
    <%= link_to "Home", root_path, class: "navbar-brand"%>
    <%= link_to "About us", root_path(anchor:"apropos"), class: "navbar-brand"%>
    <%= link_to "Contact", root_path(anchor:"contact"), class: "navbar-brand"%>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
