  <%= render 'shared/banner' %>


<div class="container text-center social-icons">
  <a href="#"><i class="fab fa-facebook-square fa-5x"></i></a>
  <a href="#"><i class="fab fa-instagram-square fa-5x"></i></a>
  <a href="#"><i class="fab fa-twitter-square fa-5x"></i></a>
</div>
<div class="container text-center">
  <h2 id="month">Month Figurin</h2>
    <div class="card-category container box-shadow">
      <div class="image">
       </div>
      </div>
  </div>
   <div class="collectors">
    <%= link_to "Collectors", profiles_path %>
  </div>
  <h2 class="text-center" id= "apropos">About us</h2>
  <hr>
  <div class= "container apropos">
    <p>Il y a quelques mois je classais les vieilles figurines Star Wars de ma marraine et voyant le peu d'infos que l'on peut trouver sur tous les sites type marketplace, je me suis dit qu'une application comme Figurin'App pouvait faire la différence : Un site pour les collectionneurs de figurines fait par des collectionneurs de figurines !</p>
    <p>Made by Léonard, Emmanuel, Mathieu, et Stéphane from le Wagon !</p>
  </div>
  <h2 class="text-center" id="contact">Contact us</h2>
  <hr>
  <form class= "container form">
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email">
      <small id="message" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="textarea">Message</label>
      <textarea type="textarea" class="form-control" placeholder="Enter message" rows="8"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
