.avatar {
  height:100px;
  width: 100px;
  border-radius: 50%;

}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
}

.user{
  width: 400px 800px;
  border-radius: 50%;
}
.userimage img {
  max-width: 200px;
  border-radius: 50%;
}
h2 {
  font-family: Bangers, cursive;
  color: #008891;
}

.nav-item .avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

