.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  font-family: "Bangers", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 180px;
  line-height: 228px;
  letter-spacing: 6px;
  text-align: center;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: white;
}

// Titres et bouton dans la home page
#month {
  margin-bottom: 100px;
}

.apropos {
  max-width: 600px;
}

#apropos,
#contact,
#month {
  font-size: 36px;
  display: flex;
  justify-content: center;
  background-color: #00587a;
  width: 200px;
  border-radius: 25px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 40px;
  margin-top: 100px;
  color: white;
}

#month {
  width: 250px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    height: 100vh;
  }
  .banner h1 {
    font-size: 65px;
    line-height: 90px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    height: 100vh;
  }
  .banner h1 {
    font-size: 100px;
    line-height: 120px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    height: 100vh;
  }
  .banner h1 {
    font-size: 110px;
    line-height: 120px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    height: 100vh;
  }
  .banner h1 {
    font-size: 120px;
    line-height: 130px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    height: 100vh;
  }
  .banner h1 {
    font-size: 120px;
    line-height: 130px;
  }
}
