.figurines {
  position: absolute;
  top: 500px;
  right: 15%;
  left: 15%;
  font-size: 36px;
  padding: 10px 10px;
  border-radius: 25px;
  background: #008891;
  border: 2px solid black;
  text-align: center;
  width: 230px;
  margin: 120px auto;
  font-family: "Bangers", cursive;
  letter-spacing: 3px;
}
.figurines:hover {
  background-color: #0f3057;
}

// Ultra small
@media (min-width: 320px) {
  .figurines {
    top: 50px;
  }
}

// Super small
@media (min-width: 400px) {
  .figurines {
    top: 80px;
  }
}

// Smallest device
@media (min-width: 576px) {
  .figurines {
    top: 170px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 768px) {
  .figurines {
    top: 250px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 850px) {
  .figurines {
    top: 320px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .figurines {
    top: 400px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .figurines {
    top: 500px;
  }
}

.collectors {
  font-size: 36px;
  padding: 10px 10px;
  border-radius: 25px;
  background: #008891;
  border: 2px solid black;
  text-align: center;
  width: 230px;
  margin: 90px auto;
  font-family: "Bangers", cursive;

}
.collectors:hover {
  background: #0f3057;
}
.collectors a {
  text-decoration: none;
  color: white;

}

.carousel {
  margin-bottom: 70px;
}
.carousel a {
  text-decoration: none;
  color: white;
}

.btn-primary {
  font-size: 24px;
  padding: 8px 8px;
  border-radius: 15px;
  background: #008891;
  transition: background 0.3s ease;
  border: 2px solid white;
  text-align: center;
  font-family: "Bangers", cursive;
  letter-spacing:3px;
  border: 2px solid black;

}

.btn-primary:hover {
  background: #0f3057;
}


.btn-purchase{
color: white;
font-size: 24px;
  padding: 8px 8px;
  border-radius: 15px;
  background: #fd3a69;
  transition: background 0.3s ease;
  border: 2px solid white;
  text-align: center;
  display: block;
  font-size: 36px;
  padding: 10px 10px;
  border-radius: 15px;
  text-align: center;
  width: 400px;
  margin: 50px auto;
 margin-top: 40px;
 font-family: "Bangers", cursive;
 letter-spacing:3px;
 border: 2px solid black;

}
.btn-purchase:hover {
  background: #d51d4c;
  color:white;
}
.btn-return a {
  text-decoration: none;
  color: white;
}
.btn-return {
  margin: left 20px;
  font-size: 24px;
  padding: 8px 8px;
  border-radius: 15px;
  background: #008891;
  transition: background 0.3s ease;
  border: 2px solid white;
  text-align: center;

  border: 2px solid black;
}

.btn-return:hover {
  background: #0f3057;
}

// button page of One Figurine buttons collector and media
.fig button {
  margin-top: 50px;
  display: block;
  font-size: 36px;
  padding: 10px 10px;
  border-radius: 15px;
  text-align: center;
  width: 400px;
  margin: 50px auto;
  letter-spacing: 3px;
  font-family: "Bangers", cursive;
  border: 2px solid black;
}

.btn-purchase {
  color: white;
  background: #fd3a69;
  transition: background 0.3s ease;
  display: block;
  font-size: 36px;
  width: 400px;
  margin: 50px auto;
  margin-top: 40px;
}
.btn-purchase:hover {
  background: #d51d4c;
  color: white;
}

.card-trip .btn-primary {
  background-color: white;
  color: black;
  font-size: 24px;
  padding: 8px 8px;
  border-radius: 15px;
  transition: background 0.3s ease;
  border: 2px solid white;
  text-align: center;
  text-decoration: none;
}
.card-trip .btn-primary:hover {
  background: #0f3057;
  color: white;
}

.coll {
  background: #008891;
}
.purchase a,
.coll a,
.media a {
  text-decoration: none;
  color: white;
}

.media {
  background: #00587a;
  text-decoration: none;
}

.comm {
  background: #e7e7de;
}

@media (min-width: 100px) and (max-width: 575px) {
  .btn-purchase ,
  .fig button {
    margin-top: 50px;
    display: block;
    font-size: 36px;
    padding: 10px 10px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
    margin: 50px auto;
  }

  .btn-purchase {
    margin-top: 50px;
    display: block;
    font-size: 36px;
    padding: 10px 10px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
    margin: 50px auto;
  }
}
