.cards {
  padding: 75px;
  margin: auto;
  display: block-ruby;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  text-align: center;
}

.button {
  text-align: center;
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .img-checkout,
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .img-checkout,
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .img-checkout,
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .img-checkout,
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .img-checkout,
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

.ul {
  visibility: hidden;
}

.containeruser {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.containertrophies {
}

#contenu {
  height: 95%;
  width: 95%;
  margin: auto;
  padding: 20px;
  font: 12px arial;
  overflow: hidden;
}

#gauche {
  float: left;
  width: 41%;
  padding: 14px;
  margin-top: 11px;
}

#droite {
  margin-top: 76px;
  width: 60%;
  margin-left: 41%;
}

.trophies {
  padding-top: 20px;
  padding-bottom: 20px;
  height-max: 400px;
}
.favories {
  padding-top: 20px;
  padding-bottom: 20px;
  height-max: 400px;
}

.scroller {
  width: auto;
  height: 400px;
  overflow-y: scroll;
}
a {
  color: #008891;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
