@media screen and (max-width: 768px) {
  /*-----menu hamburger----------------------------------------------------------------------------------------*/

  .site-container {
    overflow: hidden;
    background-color: #0f3057;
  }

  .site-pusher {
    transition-duration: 0.3s;
    transform: translateX(0px);
  }

  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 70px;
    height: 70px;
    cursor: pointer;
  }

  .header__icon:after {
    content: "";
    position: absolute;
    display: block;
    width: 25px;
    height: 0;
    top: 12px;
    left: 20px;
    box-shadow: 0 10px 0 1px white, 0 17px 0 1px white, 0 24px 0 1px white;
  }

  .navbar {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 0.5rem;
    bottom: 0;
    width: 180px;
    height: 420px;
    background-color: #008891;
    transform: translateX(-180px);
  }

  .navbar-brand {
    position: relative !important;
    display: block;
    color: white;
    width: 80%;
    height: auto;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    border-bottom: 2px solid #008891;
  }

  .with--sidebar .site-pusher {
    transform: translateX(180px);
  }

  .with--sidebar .site-cache {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
