.mediapage {
  width: 700px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 500px) {
  .mediapage {
    width: 300px;
  }
}

@media (min-width: 500px) and (max-width: 600px) {
  .mediapage {
    width: 400px;
  }
}

body {
  background-image: url(vektor.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
