.navbar-lewagon {
  justify-content: space-between;
  background: #0f3057;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  background: #e7e7de;
  padding: 10px;
  margin: 10px;
  width: 140px;
  border-radius: 10px;
  color: #00587a;
  font-size: 20px;
  text-align: center;
  font-family: "Bangers", cursive;
  letter-spacing: 2px;
}

.navbar-lewagon .navbar-brand:hover {
  color: #fd3a69;
}

.navbar-lewagon img {
  padding: 5px;
  margin: 5px;
  border-radius: 50px;
}

.nav-item .nav-log {
  justify-content: end;
  background: #fd3a69;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  text-align: center;
  font-family: "Bangers", cursive;
  letter-spacing: 3px;
}
.nav-log:hover{
 background: #d51d4c

}

.welcome {
width: 50px;
position: relative;
top: 24px;
right: 30px;
text-align: center;
font-family: "Bangers", cursive;
font-size: 21px;
-webkit-text-stroke: 0.8px grey;
   color: white;
   text-shadow:
       2px 2px 0 #fd3a69;
}

// Smallest device
@media (min-width: 100px) and (max-width: 594px) {
  .navbar-lewagon .navbar-brand {
    padding: 6px;
    margin: 6px;
    width: 75px;
    font-size: 15px;
  }
}

@media (min-width: 595px) and (max-width: 694px) {
  .navbar-lewagon .navbar-brand {
    padding: 6px;
    margin: 6px;
    width: 80px;
    font-size: 15px;
  }
}

@media (min-width: 695px) and (max-width: 800px) {
  .navbar-lewagon .navbar-brand {
    padding: 7px;
    margin: 7px;
    width: 110px;
  }
}
